*{
	margin: 0px;
	padding:0px;
}

h3{
	text-align:center;
	font-family: fantasy;
	margin: 0px 0px 20px;
}
.ibody{
	background-color: #ecf0f3;
	margin: 30px auto; 
	padding: 30px; 
	width: 900px;
}
.jumbotron{
	font-size: 15px;
	
		color:#2e6da4;
}
